<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="mongoClient" class="com.mongodb.MongoClient">
		<constructor-arg name="host" value="121.40.108.158" />
		<constructor-arg name="port" value="27017" />
	</bean>

	<bean id="hugoServer" factory-bean="mongoClient" factory-method="getDatabase">
		<constructor-arg value="hugo_server_dtcj" />
	</bean>

	<bean id="recommend" factory-bean="mongoClient" factory-method="getDatabase">
		<constructor-arg value="recommend" />
	</bean>
</beans>
